<div class="container">   
    <div class="row p-3">
      <div class="col">
        <div class="text-center">          
             <img src="./assets/iconos/trabajo-en-equipo.png" class="icono" style="cursor: pointer" routerLink="/dashboard/IngresosComitePromotor" >
            <p class="card-text">Ingresos Comite</p>
        </div>
      </div>
      <div class="col">
        <div class="card-body">
            <img src="./assets/iconos/donacion.png" class="icono text-center" style="cursor: pointer" routerLink="/dashboard/IngresosDonacionesPrivadas" >
            <p class="card-text">Donaciones Privadas</p>
          </div>
        </div>
      <div class="col">
        <div class="text-center">
          <img src="./assets/iconos/saco-de-dinero.png" class="icono" style="cursor: pointer" routerLink="/dashboard/IngresarDonacion" >
          <p class="card-text">Donaciones Publicas</p>
          </div>
      </div>
      <div class="col">
        <div class="text-center">
          <img src="./assets/iconos/rendimiento.png" class="icono" style="cursor: pointer" routerLink="/dashboard/RendimientoInversiones" >
          <p class="card-text">Rendimientos Inversiones</p>
          </div>
      </div>
    </div>
    <div class="row p-3">
        <div class="col">
            <div class="text-center">
              <img src="./assets/iconos/campana-digital.png" class="icono" style="cursor: pointer" routerLink="/dashboard/IngresosActosPublicos" >
              <p class="card-text">Actos Publicos</p>
              </div>
        </div>
     <!--    <div class="col">
            <div class="text-center">
              <img src="./assets/iconos/banca-online.png" class="icono" style="cursor: pointer" routerLink="/dashboard/IngresosCreditosComiteCampana" >
              <p class="card-text">Creditos Campaña privada</p>
              </div>
        </div>
       <div class="col">
            <div class="text-center">
              <img src="./assets/iconos/bolsa-de-valores.png" class="icono" style="cursor: pointer" routerLink="/dashboard/CreditoDineroParticulares" >
              <p class="card-text">Creditos Campaña Publico</p>
              </div>
        </div>-->
        <div class="col">
          <div class="text-center">
            <img src="./assets/iconos/donacion23.png" class="icono" style="cursor: pointer" routerLink="/dashboard/AyudasEspeciasParticular" >
            <p class="card-text">Donaciones en especie</p>
            </div>
      </div>
      <div class="col">
          <div class="text-center">
            <img src="./assets/iconos/recursospropio.png" class="icono" style="cursor: pointer" routerLink="/dashboard/IngresosRecursosPropios" >
            <p class="card-text">Recursos propios</p>
            </div>
      </div> 
      </div>
      
  </div>

