<div class="container">   
  <div class="row p-3">
    <div class="col">
      <div class="text-center">          
           <img src="./assets/iconos/administracion-del-dinero.png" class="icono" style="cursor: pointer" routerLink="/dashboard/GastosAdministracion" >
          <p class="card-text">Gastos Administración</p>
      </div>
    </div>
    <div class="col">
      <div class="card-body">
          <img src="./assets/iconos/oficina.png" class="icono text-center" style="cursor: pointer" routerLink="/dashboard/GastosOficinaAdquisiciones" >
          <p class="card-text">Gastos Oficinas</p>
        </div>
      </div>
    <div class="col">
      <div class="text-center">
        <img src="./assets/iconos/material-de-oficina.png" class="icono" style="cursor: pointer" routerLink="/dashboard/MaterialesyPublicaciones" >
        <p class="card-text">Materiales y publicaciones</p>
        </div>
    </div>
    <div class="col">
      <div class="text-center">
        <img src="./assets/iconos/logistica.png" class="icono" style="cursor: pointer" routerLink="/dashboard/GastosTransporte" >
        <p class="card-text">Gastos Transporte y correo</p>
        </div>
    </div>
  </div>
  <div class="row p-3">
      <div class="col">
          <div class="text-center">
            <img src="./assets/iconos/capacitacion.png" class="icono" style="cursor: pointer" routerLink="/dashboard/CapacitacionInvestigacion" >
            <p class="card-text">Gastos Capacitaciones</p>
            </div>
      </div>
      <div class="col">
          <div class="text-center">
            <img src="./assets/iconos/demanda-judicial.png" class="icono" style="cursor: pointer" routerLink="/dashboard/judicailRendicionCuentas" >
            <p class="card-text">Gastos Judiciales</p>
            </div>
      </div>
      <div class="col">
        <div class="text-center">
          <img src="./assets/iconos/publicidad-digital.png" class="icono" style="cursor: pointer" routerLink="/dashboard/ActosPublicos" >
          <p class="card-text">Gastos Actos Publicos</p>
          </div>
    </div>
      <div class="col">
          <div class="text-center">
            <img src="./assets/iconos/anuncios.png" class="icono" style="cursor: pointer" routerLink="/dashboard/PropagandaElectoral" >
            <p class="card-text">Gasto Propaganda electoral</p>
            </div>
      </div>
    </div>
    <div class="row p-3">
      <div class="col">
          <div class="text-center">
            <img src="./assets/iconos/financiero.png" class="icono" style="cursor: pointer" routerLink="/dashboard/CostosFinancieros" >
            <p class="card-text">Costos Financieros</p>
            </div>
      </div>
      
      <div class="col">
          <div class="text-center">
            <img src="./assets/iconos/limites.png" class="icono" style="cursor: pointer" routerLink="/dashboard/SobrePasoSumaFija" >
            <p class="card-text">Gastos fuera del limite CNE</p>
            </div>
      </div>
      <div class="col">
        <div class="text-center">
          <img src="./assets/iconos/advertencia.png" class="icono" style="cursor: pointer" routerLink="/dashboard/OtrosGastos" >
          <p class="card-text">Otros Gastos</p>
          </div>
    </div>
      
    </div>
</div>

